// Add the key pair name from AWS here
key_name = ""

// ID for target VPC
vpc_id = ""

// ID for target subnets
// All control plane - masters and etcd - deployed to primary
// Workers deployed across both primary and secondary
// For cross-az worker availabilty, specify subnets in different AZs
primary_subnet = ""
secondary_subnet = ""

// Add the AMI IDs you build with packer here
etcd0_ami = ""
etcd_ami = ""
master0_ami = ""
master_ami = ""
worker_ami = ""

// EC2 instance types
// Optional, defaults are below
//etcd_type = "m4.large"
//master_type = "m4.xlarge"
//worker_type = "m4.4xlarge"

// Root disk sizes
// Optional, default is 100 GB for each
//etcd_disk_size = "100"
//master_disk_size = "100"
//worker_disk_size = "100"

// Number of workers to deploy initially
// These can be subsequently scaled with an ASG
worker_count = 1

