[Unit]
Description=Bootstrap the first master node in a kubernetes cluster
ConditionPathExists=!/etc/kubernetes/pki

[Service]
Type=forking
ExecStart=/usr/local/bin/bootstrap_master0.sh
TimeoutSec=600

[Install]
WantedBy=multi-user.target

