[Unit]
Description=Join a worker node to kubernetes cluster
ConditionPathExists=!/etc/kubernetes/pki

[Service]
Type=forking
ExecStart=/usr/local/bin/bootstrap_worker.sh
TimeoutSec=600

[Install]
WantedBy=multi-user.target

