[Unit]
Description=Bootstrap addon master nodes in a kubernetes cluster
ConditionPathExists=!/etc/kubernetes/pki

[Service]
Type=forking
ExecStart=/usr/local/bin/bootstrap_master.sh
TimeoutSec=600

[Install]
WantedBy=multi-user.target

