[Unit]
Description=Bootstrap additional etcd nodes in a kubernetes cluster

[Service]
Type=forking
ExecStart=/usr/local/bin/bootstrap_etcd.sh
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target

