[Unit]
Description=Bootstrap additional etcd nodes in a kubernetes cluster
ConditionPathExists=!/etc/kubernetes/pki/etcd

[Service]
Type=forking
ExecStart=/usr/local/bin/bootstrap_etcd.sh
TimeoutSec=600

[Install]
WantedBy=multi-user.target

