[Unit]
Description=Bootstrap the first etcd node in a kubernetes cluster
ConditionPathExists=!/etc/kubernetes/pki/etcd

[Service]
Type=forking
ExecStart=/usr/local/bin/bootstrap_etcd0.sh
TimeoutSec=600

[Install]
WantedBy=multi-user.target

